@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url(../fonts/Inter.ttf) format(truetype);
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url(../fonts/Inter.ttf) format(truetype);
}

@font-face {
  font-family: Inter;
  font-style: italic;
  src: url(../fonts/Inter.ttf) format(truetype);
}

@import "tailwindcss";

[list]::-webkit-calendar-picker-indicator {
  display: none !important;
}

table.dataTable>thead>tr {
  @apply border-1 border-gray-200;
}

table.dataTable>thead>tr>th,
table.dataTable>thead>tr>td {
  @apply border-none;
}

div.dt-container.dt-empty-footer tbody>tr:last-child>* {
  @apply border-none;
}

div.dt-container div.dt-layout-row {
  @apply p-2 border-1 my-0 border-gray-200;
}

.dt-buttons span {
  @apply flex justify-center items-center gap-2;
}

div.dt-buttons>.dt-button,
div.dt-buttons>.dt-button:hover {
  @apply text-base m-0 py-1.5 px-6 bg-green-500 text-green-50 border-none rounded-sm font-bold;
}

div.dt-buttons>.dt-button:hover:not(.disabled),
div.dt-buttons>div.dt-button-split .dt-button:hover:not(.disabled) {
  @apply border-none bg-green-600;
}

div.dt-buttons>.dt-button.docViewBtn,
div.dt-buttons>.dt-button.docViewBtn:hover {
  @apply text-sm m-0 py-1 px-3 bg-gray-400 text-neutral-200 border-none rounded-sm font-normal;
}

div.dt-buttons>.dt-button.docViewBtn:hover:not(.disabled),
div.dt-buttons>div.dt-button-split .dt-button.docViewBtn:hover:not(.disabled) {
  @apply border-none bg-gray-500;
}

div.dt-buttons>.dt-button.dec-reg-btn,
div.dt-buttons>.dt-button.dec-reg-btn:hover {
  @apply text-sm m-0 py-1 px-3 bg-gray-400 text-neutral-200 border-none rounded-sm font-normal;
}

div.dt-buttons>.dt-button.dec-reg-btn:hover:not(.disabled),
div.dt-buttons>div.dt-button-split .dt-button.dec-reg-btn:hover:not(.disabled) {
  @apply border-none bg-gray-500;
}



div.dt-container .dt-info,
div.dt-container .dt-length,
div.dt-container .dt-paging,
div.dt-container .dt-search {
  @apply text-neutral-500 text-xs;
}

div.dt-container .dt-paging .dt-paging-button.current {
  @apply bg-neutral-50 border-neutral-300 rounded-md hover:border-neutral-300;
}

div.dt-container .dt-paging .dt-paging-button:hover {
  background: var(--color-neutral-200);
  border: 1px solid var(--color-neutral-300);
  border-radius: var(--radius-md);
  color: var(--color-neutral-500) !important;
}

div.dt-container .dt-paging .dt-paging-button:active {
  background: var(--color-neutral-300);
  border: 1px solid var(--color-neutral-300);
  box-shadow: none;
}

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;

  --animate-fade-in: fadeIn var(--default-transition-duration);

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
